<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>
    <h1 id="title"><a href="/">Matt's Mood Board Fetcher</a></h1>
    <!-- <button onclick="wtf()">button tag</button> -->
    <div class="batts">

        <form class="artistSearch" autocomplete="off">
            <label for="artistBox">Artist:</label>
            <input list="artistList" id="artistBox" name="artistName" value="<%=artistUser%>" />
            <datalist id="artistList">
                <% for (artist of artistList){%>
                    <option value="<%=artist%>">
                        <% } %>
            </datalist>
            <label for="keyWordBox">Key Word:</label>
            <input type="text" id="keyWordBox" name="keyWord" />
            <label for="countBox">Number of images:</label>
            <input type="text" id="countBox" name="count" />
            <button id="search">search</button>
        </form>

        <div class="battsElement">
            <button id="random" onClick="location.href='/random'">Get Random Image</button>
            <button id="random" onClick="location.href='/randomFav'">Get Random Favorite</button>
        </div>

        <!-- <button onclick="show()">do somthing</button> -->
    </div>
    <div class="images-content">
        <div class="img-info">
            <span class="rightfloat">
                Image info: <span id="img-info">
                    <%=imagesData%>
                </span>
                <span id="img-id" value="<%=imageID%>">
                    <%=imageID%>
                </span>
            </span>

        </div>

        <div id="referenceImage"><%-displayResults%>
                <div>

                </div>
                <script>const expressImgs = '<%= imageID %>';</script>
                <script type="text/javascript" src="./scripts/script.js"></script>
</body>

</html>